@charset "ISO-8859-1";
.btn.btn-dark {
	position: relative;
	margin-top: 20px;
	width: 100%
}

.btn.btn-danger {
	float: right;
}

.table.table-light.table-striped {
	margin: auto;
	width: 50%;
}

td, th {
	padding: 2px 15px;
}

#search {
	margin-top: 20px;
}